.pane{
    -fx-background-color: #272727;
}
.subPan{
    -fx-background-color: #000000;
}

.loginPane{
    -fx-background-color: #9C2B27;
}

.jfx-text-field, .jfx-password-field {
    -fx-font-size: 25px;
    -fx-text-fill: WHITE;
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: #66FF00;
    -jfx-unfocus-color: #A9A9A9;
}

.button{
    -fx-background-color: #E45652;
    -fx-text-fill: WHITE;
    -fx-background-radius: 12px;
}

.button:hover{
    -fx-background-color: #2DB2AA;
}